<li class="dropdown dropdown-extended dropdown-inbox">
    <a href="#"
       class="dropdown-toggle"
       data-toggle="dropdown">
        <i class="icon-bell"></i><span class="badge badge-default">{{notifications.length}} </span>
    </a>
    <ul class="dropdown-menu">
        <li class="external">
            <h3><span class="bold" translate="pending_count" translate-values="{ count: notifications.length }"></span> notifications</h3>
            <!--<a href="#/">view all</a>-->
        </li>
        <li>
            <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                <li ng-repeat="notification in notifications">
                    <div class="row">
                        <div class="col-md-8">
                            <a href="javascript:;" ng-click="showUserDetail(notification);$event.stopPropagation();">
                                <span class="photo">
                                    <img ng-src="{{notification.customer.image_url}}" class="img-circle" alt="">
                                </span>
                                <span class="subject">
                                    <span class="from">{{notification.customer.name.given_name}} {{notification.customer.name.family_name}} </span>
                                    <span class="time">{{notification.send_time | date:'short'}} </span>
                                </span>
                            </a>
                            <span class="message">
                                {{"Table number" | translate}} : {{notification.table_number}}
                            </span>
                        </div>
                        <div class="col-md-4 pull-right">
                            <div class="btn-group btn-group-xs" role="group">
                                <button type="button" class="btn green-haze" translate ng-click="accept(notification);$event.stopPropagation();">Accept</button>
                                <button type="button" class="btn btn-danger" translate ng-click="ignore(notification);$event.stopPropagation();">Ignore</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <!--<ul class="dropdown-menu-list scroller"-->
            <!--style="height: 250px;"-->
            <!--data-handle-color="#637283">-->
            <!--<li ng-repeat="notification in notifications">-->
            <!--<a href="javascript:;">-->
            <!--<span class="time">just now</span>-->
            <!--<span class="details">-->
            <!--<span class="label label-sm label-icon label-success">-->
            <!--<i class="fa fa-plus"></i>-->
            <!--</span>-->
            <!---->
            <!--</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--</ul>-->
        </li>
    </ul>
</li>