<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/" translate>Dashboard</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span translate>Customer Detail</span>
        </li>
    </ul>
</div>
<!-- BEGIN PAGE CONTENT-->
<div class="row">
<div class="col-md-12">
<!-- BEGIN PROFILE SIDEBAR -->
<div class="profile-sidebar" style="width: 250px;">
    <!-- PORTLET MAIN -->
    <div class="portlet light profile-sidebar-portlet">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
            <img ng-src="{{enity.image_url}}" class="img-responsive" alt="">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                {{enity.name.family_name}} {{enity.name.given_name}}
            </div>
            <!--<div class="profile-usertitle-job">-->
                <!--Developer-->
            <!--</div>-->
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
            <button type="button" class="btn btn-circle green-haze btn-sm">Follow</button>
            <button type="button" class="btn btn-circle btn-danger btn-sm">Message</button>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
            <ul class="nav">
                <li class="active">
                    <a href="extra_profile.html">
                        <i class="icon-home"></i>
                        Overview </a>
                </li>
                <!--<li>-->
                    <!--<a href="extra_profile_account.html">-->
                        <!--<i class="icon-settings"></i>-->
                        <!--Account Settings </a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="page_todo.html" target="_blank">-->
                        <!--<i class="icon-check"></i>-->
                        <!--Tasks </a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="extra_profile_help.html">-->
                        <!--<i class="icon-info"></i>-->
                        <!--Help </a>-->
                <!--</li>-->
            </ul>
        </div>
        <!-- END MENU -->
    </div>
    <!-- END PORTLET MAIN -->
</div>
<!-- END BEGIN PROFILE SIDEBAR -->
<!-- BEGIN PROFILE CONTENT -->
<div class="profile-content">
    <div class="row">
        <div class="col-md-6">
            <!-- BEGIN PORTLET -->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">Last 5 visits</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row number-stats margin-bottom-30">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="stat-chart">
                                <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                <div id="sparkline_bar"></div>
                            </div>
                            <div class="stat-number">
                                <div class="title">
                                    Total
                                </div>
                                <div class="number">
                                    10
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-hover table-light" border="1">
                            <thead>
                            <tr class="uppercase">
                                <th>
                                    Date
                                </th>
                                <th>
                                    Spent
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="visits in [1,2,3,4,5]">
                                <td>
                                    12/12/2014
                                </td>
                                <td>
                                    R$ 150,00
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END PORTLET -->
        </div>
        <div class="col-md-6">
            <!-- BEGIN PORTLET -->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">Items most requested.</span>
                        <!--<span class="caption-helper">45 pending</span>-->
                    </div>
                    <!--<div class="inputs">-->
                        <!--<div class="portlet-input input-inline input-small ">-->
                            <!--<div class="input-icon right">-->
                                <!--<i class="icon-magnifier"></i>-->
                                <!--<input type="text" class="form-control form-control-solid" placeholder="search...">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                <div class="portlet-body">
                    <div class="scroller" style="height: 305px;" data-always-visible="1" data-rail-visible1="0"
                         data-handle-color="#D7DCE2">
                        <div class="general-item-list">
                            <div class="item" ng-repeat="item in [1,2,3,4,5]">
                                <div class="item-head">
                                    <div class="item-details">
                                        <img class="item-pic" src="../../assets/admin/layout3/img/avatar4.jpg">
                                        <a href="" class="item-name primary-link">Picanha</a>
                                        <span class="item-label">R$ 19.90</span>
                                    </div>
                                    <!--<span class="item-status"><span class="badge badge-empty badge-success"></span> Open</span>-->
                                </div>
                                <div class="item-body">
                                    S/ Cebola
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET -->
        </div>
    </div>
</div>
<!-- END PROFILE CONTENT -->
</div>
</div>
<!-- END PAGE CONTENT-->
